@model IEnumerable<FormAuthentication.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="search" placeholder="Search" class="form-control"/>
        </div>
    </div>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("customer"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="search">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })<b> |</b>
                @Html.ActionLink("Details", "Details", new { id = item.ID })<b> |</b>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }else if(User.IsInRole("customer")){
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            }
            
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(txt_one, txt_two) {
            if (txt_one.indexOf(txt_two) != -1)
                return true;
        }
        $("#search").keyup(function () {
            var searchtxt = $("#search").val().toLowerCase();
            $(".search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtxt)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>
